body {
    width: 100%;
    height: 100%;

    margin: 0 !important;
    padding: 0 ;
    overflow-x: hidden;
}
.sobreFirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF5E0;
    padding: 13% 3% 13% 3%;
}
.sobreSecondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 13% 3% 13% 3%;

}
.sobreSecondSection h2 {
    text-align: center;
}
.sobreSecondSection h3 {
    text-align: center;
}
.secondSubtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sobreThirdSection {
    background-color: #FFF5E0;
    padding: 13% 3% 13% 3%;

}
.manchasRow {
    display: flex;
    flex-direction: row;

}
.sobreFourthSection {
    padding: 13% 3% 13% 3%;

}
.sobreFifhtSection {
    padding: 13% 3% 13% 3%;
}
.sobreSixthSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sobreSixthSection h2 {
    text-align: center;
}
.sobreSeventhSection {
    background-color: #FFF5E0;

}
.sobreSeventhSection h2 {
    text-align: center;
}
.serviciosFirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13% 3% 13% 3%;

}
.serviciosSecondSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #5189D3;
    padding: 13% 3% 13% 3%;

}
.serviciosThirdSection {
    display: flex;
    flex-direction: column;
    background-color: #FFF5E0;
    padding: 13% 3% 13% 3%;

}
.instalacionesFirstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13% 3% 13% 3%;

}
.perritosRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.perritosRow img {
    width: 30%;
    margin: 2%;
}