.consejosDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.consejosDivDesk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.consejosP {
    font-family: "M Light";

}
.consejosP span {
    font-family: "M Medium";
}
@media only screen and (min-width: 752px){
    .consejosDivDesk {
        margin: 2%;
    }
   .consejosDivDesk img {
    height: 40px;
    margin-bottom: 10%;
   } 
   .consejosP {
    font-size: 60%;
   }
}
@media only screen and (min-width: 752px){
    .consejosDivDesk {
        width: 30%;
    }
    .consejosDivDesk img {
        height: 60px;
        margin-bottom: 10%;
       } 
    .consejosP {
        font-size: 80%;
    }
}
@media only screen and (min-width: 1000px){
    .consejosDivDesk img {
        height: 80px;
        margin-bottom: 10%;
       } 
    .consejosP {
        font-size: 120%;
    }
}
@font-face {
    font-family: "M Medium";
    src: url("../../static/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "M Light";
    src: url("../../static/fonts/Montserrat-Light.ttf");
}