.manchasItemDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}
.manchasItemDiv p {
    text-align: center;
    font-family: "M Regular";

}
@media only screen and (min-width: 752px){
    .manchasItemDiv img {
        width: 50%;
        margin-bottom: 10%;
    }
    .manchasItemDiv p  {
        font-size: 70%;
    }
}
@media only screen and (min-width: 1500px){
    .manchasItemDiv img {
        width: 60%;
        margin-bottom: 10%;
    }
    .manchasItemDiv p  {
        font-size: 110%;
    }
}
@media only screen and (min-width: 2000px){
    .manchasItemDiv {
        width: 320px;
    }
    .manchasItemDiv img {
        width: 50%;
        margin-bottom: 10%;
    }
    .manchasItemDiv p  {
        font-size: 150%;
    }
}
@media only screen and (min-width: 2500px){
    .manchasItemDiv {
        width: 450px;
    }
    .manchasItemDiv img {
        width: 55%;
        margin-bottom: 10%;
    }
    .manchasItemDiv p  {
        font-size: 200%;
    }
}
@font-face {
    font-family: "M Regular";
    src: url("../../static/fonts/Montserrat-Regular.ttf");
}