.contactoCardDiv {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 100%;
}
.contactoUpperDiv{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.contactoUpperDiv h3 {
    font-family: "M Bold";
    margin-bottom: 0%;
}
.contactoCardDiv p {
    font-family: "M Medium";
    margin-bottom: 0%;

}
@media only screen and (min-width: 752px){
    .contactoUpperDiv img {
        width: 8%;
        margin-right: 3%;
    }
    .contactoUpperDiv h3 {
        font-size: 100%;
    }
    .contactoCardDiv p {
        font-family: "M Medium";
        margin-bottom: 0%;
    }
}
@media only screen and (min-width: 1000px){
    .contactoUpperDiv img {
        width: 10%;
        margin-right: 3%;
    }
    .contactoUpperDiv {
        margin-bottom: 3%;
    }
    .contactoUpperDiv h3 {
        font-size: 120%;
    }
    .contactoCardDiv p {
        font-size: 110%;
    }
}
@media only screen and (min-width: 1500px){
    .contactoUpperDiv img {
        width: 13%;
    }
    .contactoUpperDiv {
        margin-bottom: 3%;
    }
    .contactoUpperDiv h3 {
        font-size: 130%;
    }
    .contactoCardDiv p {
        font-size: 120%;
    }
}
@media only screen and (min-width: 2000px){
    .contactoUpperDiv img {
        width: 11%;
    }
    .contactoUpperDiv {
        margin-bottom: 3%;
    }
    .contactoUpperDiv h3 {
        font-size: 220%;
    }
    .contactoCardDiv p {
        font-size: 180%;
    }
}
@media only screen and (min-width: 2500px){
    .contactoUpperDiv img {
        width: 15%;
    }
    .contactoUpperDiv {
        margin-bottom: 3%;
    }
    .contactoUpperDiv h3 {
        font-size: 270%;
    }
    .contactoCardDiv p {
        font-size: 210%;
    }
}
@font-face {
    font-family: "M Bold";
    src: url("../../static/fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "M Medium";
    src: url("../../static/fonts/Montserrat-Medium.ttf");
}
