.colorDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    height: 240px;
    padding: 13% 5% 89% 5%;
}
.perroImage {
    position: absolute;
    height: 22%;
    top: -11%;
    left: 5%;
}
.colorDiv h2 {
    font-family: "M SemiBold";
}
.colorDiv p {
    font-family: "M Light";
    width: 100%;
}
@media only screen and (min-width: 752px){
    .colorDiv {
        padding: 6% 3% 0% 3%;
        height: 210px;
    }
    .perroImage {
        height: 30%;
        top: -12%;
    }
    .colorDiv h2 {
        font-size: 90%;
    }
    .colorDiv p {
        font-size: 60%;
    }
}
@font-face {
    font-family: "M SemiBold";
    src: url("../../static/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "M Light";
    src: url("../../static/fonts/Montserrat-Light.ttf");
}