.btn-primary {
  background-color: #d1aa77;
  border-radius: 50px;
  border: none;
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn-primary img {
  width: 17%;
}
.btn-primary p {
  color: black;
  margin-bottom: 0%;
  font-family: "M Medium";
}
@media only screen and (min-width: 1500px) {
  .btn-primary {
    height: 60px;
  }
  .btn-primary p {
    font-size: 160%;
  }
}
@media only screen and (min-width: 2000px) {
  .btn-primary {
    height: 70px;
  }
  .btn-primary p {
    font-size: 150%;
  }
}
@media only screen and (min-width: 2500px) {
  .btn-primary {
    height: 80px;
  }
  .btn-primary p {
    font-size: 180%;
  }
}
@font-face {
  font-family: "M Regular";
  src: url("../../static/fonts/Montserrat-Regular.ttf");
}
