.serviciosMainDiv {
    border-radius: 15px;
    padding: 3%;
    margin-bottom: 5%;
}
.serviciosMainDiv p {
    font-family: "M Light";
}

@media only screen and (min-width: 752px){
    .serviciosMainDiv {
        margin: 1.2%;
        padding: 2%;
        width: 300px;
    }
    .serviciosMainDiv img {
        width: 15%;
        margin-bottom: 5%;
    }
    .serviciosMainDiv p{
        font-size: 70%;
    }
}
@media only screen and (min-width: 1000px){
    .serviciosMainDiv {
        width: 350px;
    }
    .serviciosMainDiv img {
        width: 15%;
    }
    .serviciosMainDiv p{
        font-size: 100%;
    }
}
@media only screen and (min-width: 1500px){
    .serviciosMainDiv {
        width: 400px;
    }
    .serviciosMainDiv p{
        font-size: 120%;
    }
}
@media only screen and (min-width: 2000px){
    .serviciosMainDiv {
        width: 500px;
    }
    .serviciosMainDiv p{
        font-size: 150%;
    }
}
@media only screen and (min-width: 2500px){
    .serviciosMainDiv {
        width: 600px;
    }
    .serviciosMainDiv p{
        font-size: 180%;
    }
}