
.manchaDiv {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10% 7% 10%;
    height: 440px;
    width: 100%;
}
.firsth2 {
    font-family: "M Medium";
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.firsth2 span {
    font-family: "M ExtraBold";
}
.secondh2 {
    font-family: "Stick";
    color: white;
    margin-bottom: 0;

}
.secondh2 span {
    color: #FCCA65;
}
.manchaP {
    font-family: "M Light";
    color: white;
}
.manchaP span{
    font-family: "M SemiBold";
    color: white;
}
@media only screen and (min-width: 752px){
    .manchaDiv{
        height: 420px;
        padding: 0% 4% 7% 5%;
        width: 47%;
        margin-top: 3%;
    }
    .firsth2 {
        font-size: 125%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 130%;
    }
    .manchaP {
        font-size: 80%;
    }
}
@font-face {
    font-family: "M ExtraBold";
    src: url("../../static/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Stick";
    src: url("../../static/fonts/StickARound.otf");
}
@font-face {
    font-family: "M Light";
    src: url("../../static/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "M SemiBold";
    src: url("../../static/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "M Medium";
    src: url("../../static/fonts/Montserrat-Medium.ttf");
}