
.manchaDiv {
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10% 7% 10%;
    height: 440px;
    width: 100%;
}
.firsth2 {
    font-family: "M Medium";
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.firsth2 span {
    font-family: "M ExtraBold";
}
.secondh2 {
    font-family: "Stick";
    color: white;
    margin-bottom: 0;

}
.secondh2 span {
    color: #FCCA65;
}
.manchaP {
    font-family: "M Light";
    color: white;
}
.manchaP span{
    font-family: "M SemiBold";
    color: white;
}
@media only screen and (min-width: 280px) {
    .manchaDiv {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10% 10% 10% 10%;
    }
    .firsth2 {
        font-size: 115%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 110%;
    }
    .manchaP {
        font-size: 80%;
    }
}
/* @media only screen and (min-width: 360px) {
    .manchaDiv {
        justify-content: center;
        align-items: center;
        padding: 0% 10% 7% 10%;
    }
} */
@media only screen and (min-width: 360px) {
    .manchaDiv {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10% 10% 10% 10%;
    }
    .firsth2 {
        font-size: 135%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 135%;
        margin-bottom: 4%;
    }
    .manchaP {
        font-size: 100%;
        width: 90%;
        text-align: left;
        margin-right: 8%
    }
}
@media only screen and (min-width: 375px) {
    .firsth2 {
        font-size: 155%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 130%;
        width: 70%;
        margin-bottom: 4%;
    }
    .manchaP {
        font-size: 100%;
        width: 90%;
        text-align: left;
        margin-right: 8%
    }
}
@media only screen and (min-width: 390px) {
    .manchaDiv {
        padding: 10% 11% 10% 10%;
    }
    .firsth2 {
        font-size: 155%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 130%;
        width: 70%;
        margin-bottom: 4%;
    }
    .manchaP {
        font-size: 100%;
        width: 100%;
        text-align: left;
        margin-right: 8%
    }
}
@media only screen and (min-width: 412px) {
    .secondh2 {
        margin-bottom: 10%;
    }
}
@media only screen and (min-width: 414px) {
    .manchaDiv {
        padding: 10% 15% 10% 10%;
    }
    .manchaP {
        width: 90%;
        text-align: left;
        margin-right: 8%
    }
}
@media only screen and (min-width: 540px) {
    .manchaDiv {
        height: 640px;
        width: 100%;
    }
    .firsth2 {
        font-size: 200%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 200%;
        width: 70%;
        margin-bottom: 4%;
    }
    .manchaP {
        font-size: 150%;
        width: 100%;
        text-align: left;
        margin-right: 8%
    }
}
@media only screen and (min-width: 752px){
    .manchaDiv{
        height: 420px;
        padding: 0% 4% 7% 5%;
        width: 47%;
        margin-top: 3%;
    }
    .firsth2 {
        font-size: 125%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 130%;
    }
    .manchaP {
        font-size: 80%;
    }
}
@media only screen and (min-width: 1000px){
    .manchaDiv {
        margin-top: 0%;
        margin-left: 4%;
        width: 40%;
        padding: 3% 5% 2% 6%;
    }
    .firsth2 {
        font-size: 155%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 150%;
        margin-bottom: 7%;
    }
    .manchaP {
        font-size: 90%;
    }
}
@media only screen and (min-width: 1500px){
    .manchaDiv {
        margin-top: 0%;
        margin-left: 4%;
        width: 50%;
        height: 600px;
        padding: 8% 17% 2% 4%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .firsth2 {
        font-size: 210%;
        margin-bottom: 7%;
    }
    .secondh2 {
        font-size: 210%;
        margin-bottom: 7%;
    }
    .manchaP {
        font-size: 110%;
    }
}
@media only screen and (min-width: 2000px){
    .manchaDiv { 
        height: 800px;
        padding: 6% 17% 2% 4%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .firsth2 {
        font-size: 290%;
    }
    .secondh2 {
        font-size: 260%;
    }
    .manchaP {
        font-size: 180%;
    }
}
@media only screen and (min-width: 2500px){
    .manchaDiv { 
        height: 1000px;
        padding: 6% 17% 2% 4%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .firsth2 {
        font-size: 350%;
    }
    .secondh2 {
        font-size: 380%;
        width: 70%;
    }
    .manchaP {
        font-size: 220%;
    }
}
@font-face {
    font-family: "M ExtraBold";
    src: url("../../static/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Stick";
    src: url("../../static/fonts/StickARound.otf");
}
@font-face {
    font-family: "M Light";
    src: url("../../static/fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "M SemiBold";
    src: url("../../static/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "M Medium";
    src: url("../../static/fonts/Montserrat-Medium.ttf");
}